@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

.jokesbox {
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.362);
    margin: 1rem;
    border-radius: .4rem;

}

.btn button {
    font-family: 'Poppins', sans-serif;

    padding: .8rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.362);
    margin: 1rem;
    border-radius: .4rem;
    border: 2px solid red;
    color: red;
    font-weight: 500;
    background: transparent;
    transition: .3s;
}

.btn button:focus {
    transform: scale(1.1);
    border: 2px solid red;
    color: red;
    font-weight: 500;
    background: transparent;
}